
.work-sans-normal-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* COMMON STTLE  */

.btn{
  font-weight: 600;
  padding: 20px 25px;
  background-color: #FF900E;
  color: white;
  border: none;
  border-radius: 8px;
  font-family: 1.25rem;

}

.display-flex{
  display: flex;
}

.dark-2{
  color: #424242;
}

.dark-3{
  color: #727272;
}

.main{
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 130px;
}

/* HEADER STYLE  */
 .header{
 background-color:#FFF4E7 ;
 }



/* NAV STYLE */
.navbar{
align-items: center;
justify-content: space-between;
}

.brand-name{
  font-size: 3rem;
  font-weight: bold;
  color: #131313;

}
.nav-links{
  
}
.nav-item{
  list-style: none;
  margin-right: 30px;
}
.nav-link{
  text-decoration: none;
  font-weight: 500;
}

.banner, .navbar{
  max-width: 1440px;
  margin: 0 auto;
}
/* BANNER STYLE  */

.banner-content{

  max-width:862px ;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px ;

}



.banner-title{
  font-size: 4rem;

}
.banner-description{
 font-size: 1rem;
}

.banner-img{
  width: 100%;
  margin-bottom: 45px;
}

/* Main section  */
main section {
  margin-top: 130px;
}



/* teams section */

.teams{
  align-items: center;
  margin-top: 130px;


}
.team-image{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;

}
.our-features{
  margin-left: 130px;
  max-width: 530px;

}
/* title */
.our-features-title{
  font-size: 2.9rem;
  font-weight: bold;
}
 .quick-list{
font-weight: 500;

}
 .of-our{ 
  font:bold;
}
.Features{
  color: #FF900E;
  font-weight: bold;

}

 .our-features-description { 
  font-size: 1rem;
 
}



/* Features-section-style */

.featuress{
  gap: 140px;
  align-items: center;
}


#border-title{
  border-left:10px solid #FF900E;
  padding: 20px;
}

.section-title{
  font-size: 4rem;
}

.feature-card{
   padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
}

.feature-title{
  font-weight: 600;
    font-size: 1.25rem;
    margin-top: 0px;
    margin-bottom: 0px;
}

.architect-img img{
  width: 100%;
}

#btn-2{
  padding: 45px 42px;
  /* max-width: 342px; */
  margin-top: -100px;
  margin-left: -100px;

}

#btn-title{
  font-size: 4rem;
}
#btn-description{
  font-size: 1.5rem;
  font-weight: 500;
}



/*Some Facts style */

.fact-title{
  font-size: 4rem;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0px;
}
.fact-description{
  /* max-width: 542px; */
  font-size: 1rem;
}



.fact-container{
  gap:124px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 100px;
  margin-bottom: 180px;

}
.fact-card{
  border: 1px solid #FF900E;
  border-radius: 8px;
  padding: 45px 35px ;
  max-width: 241.83px;
  max-height: 241.83px;
  /* gap:124px; */
  /* align-items: center;
  justify-content: center; */
  text-align: center;


  

}
.fact-number{
  font-size: 4rem;
  font-weight: 600;
  margin: 0px 0px;

}
.fact-name{
 font-size: 1.25rem;
 font-weight: 500;
 margin: 5px 0px;
}

/* Our Sponspors style */
 

.Sponspors-info{
  max-width:542px;
  text-align: center;
  margin-bottom: 60px;

}

.Sponspors-itle{
  font-size: 4rem;
  font-weight: bold;
  margin-top:0px;
  margin-bottom: 0px;
}
.Sponspors-descrition{
  font-size: 1rem;
  margin-top: 30px;
  
}

.Sponspors-img{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  margin-bottom: 130px;
  filter: grayscale(100%);
  margin-left: 100px;

}





  /* responsiv style  */
  @media screen and (max-width:576px) {
    .navbar,
    .nav-links ,
    .teams ,
    .featuress{
    flex-direction: column;
    }
    .team-image{
      grid-template-columns: repeat(1,1fr);
    }

    .our-features{
    margin-left: 15px;
    }
    #btn-2{
      margin-top: 20px;
      margin-left: 20px;
    }
    .fact-container{

      grid-template-columns: repeat(1, 1fr);
      margin-left: 35px;
      gap: 35px;
    
    }
    .Facts{
     text-align: center;
    }
    
    .Sponspors-img{
      grid-template-columns: repeat(1,1fr);
      gap: 40px;
      margin-left: 100px;
    }

  }

  /* Medium size device */
   @media screen and (min-width:576px) and ( max-width:992px) {
     .teams,
     .featuress{
      flex-direction: column;
     }
     .our-features{
      margin:50px auto;
     }
     #btn-2{
      margin-top: 20px;
      margin-left: 20px;
    }

    .fact-container{

      grid-template-columns: repeat(2, 1fr);
      margin-left: 50px;
      gap: 14px;
    
    }

    .Facts{
      align-items: center; 
     justify-content: center;
     text-align: center;
    }
     
    .Sponspors-img{
      grid-template-columns: repeat(3,1fr);
      gap: 40px;
      margin-left: 100px;
    }


   }