
.work-sans-normal-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* COMMON STTLE  */

.btn{
  font-weight: 600;
  padding: 20px 25px;
  background-color: #FF900E;
  color: white;
  border: none;
  border-radius: 8px;
  font-family: 1.25rem;

}

.display-flex{
  display: flex;
}

.dark-2{
  color: #424242;
}

.dark-3{
  color: #727272;
}

.main{
  max-width: 1440px;
  margin: 0 auto;
}

/* HEADER STYLE  */
 .header{
 background-color:#FFF4E7 ;
 }



/* NAV STYLE */
.navbar{
align-items: center;
justify-content: space-between;
}

.brand-name{
  font-size: 3rem;
  font-weight: bold;
  color: #131313;

}
.nav-links{
  
}
.nav-item{
  list-style: none;
  margin-right: 30px;
}
.nav-link{
  text-decoration: none;
  font-weight: 500;
}

.banner, .navbar{
  max-width: 1440px;
  margin: 0 auto;
}
/* BANNER STYLE  */

.banner-content{

  max-width:862px ;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px ;

}



.banner-title{
  font-size: 4rem;

}
.banner-description{
 font-size: 1rem;
}

.banner-img{
  width: 100%;
  margin-bottom: 45px;
}

/* Main section  */
main section {
  margin-top: 130px;
}



/* teams section */

.teams{
  align-items: center;
  margin-top: 130px;


}
.team-image{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;

}
.our-features{
  margin-left: 130px;
  max-width: 530px;

}
/* title */
.our-features-title{
  font-size: 2.9rem;
  font-weight: bold;
}
 .quick-list{
font-weight: 500;

}
 .of-our{ 
  font:bold;
}
.Features{
  color: #FF900E;
  font-weight: bold;

}

 .our-features-description { 
  font-size: 1rem;
 
}
































  /* responsiv style  */
  @media screen and (max-width:576px) {
    .navbar,
    .nav-links ,
    .teams{
      flex-direction: column;
    }
    .team-image{
      grid-template-columns: repeat(1,1fr);
    }

    .our-features{
    margin-left: 15px;
    }


  }

  /* Medium size device */
   @media screen and (min-width:576px) and ( max-width:992px) {
     .teams{
      flex-direction: column;
     }
     .our-features{
      margin:50px auto;
     }

     
   }